{% extends "layout.html" %}
{% block body %}

    <h2>Overview</h2>
    {% if g.user %}
        <h4>Unfollowers</h4>
        <ul>
            {% if unfollowers %}

                {% for u in unfollowers %}
                    <li>
                        <a href="http://twitter.com/{{ u.get('screen_name') }}">{{ u.get('screen_name') }}</a>: {{ u.get('name') }}
                        {% if 'following' in u.get('connections') %}
                            <a href="{{ url_for('unfollow') }}?user={{ u.get('screen_name') }}">UNFOLLOW</a> {% else %}
                            <a href="{{ url_for('follow') }}?user={{ u.get('screen_name') }}">FOLLOW</a>
                            </li>
                        {% endif %}
                {% endfor %}

            {% else %}
                <li>No unfollowers
                </li>
            {% endif %}
        </ul>

        <h4>New Followers</h4>
        <ul>
            {% if followers %}

                {% for u in followers %}
                    <li>
                        <a href="http://twitter.com/{{ u.get('screen_name') }}">{{ u.get('screen_name') }}</a>: {{ u.get('name') }}
                        {% if 'following' in u.get('connections') %}
                            <a href="{{ url_for('unfollow') }}?user={{ u.get('screen_name') }}">UNFOLLOW</a> {% else %}
                            <a href="{{ url_for('follow') }}?user={{ u.get('screen_name') }}">FOLLOW</a>
                            </li>
                        {% endif %}
                {% endfor %}

            {% else %}
                <li>No new followers
                </li>
            {% endif %}
        </ul>
    {% else %}
        <p>
            Sign in to check for changes in your followers list.
        </p>
    {% endif %}

{% endblock %}